
body {
  font-family: 'Sunflower', sans-serif;
}

header {
  display: flex;
    justify-content: space-between;
    
    padding-top: 1em;
}
h1 {
color: #1559a2;
font-weight: 600;
font-size: 4em;

}

h2{
  font-size: 2.5rem;
}
nav .nav-link {
  color: #1559a2!important;
}

i {
  margin-right: 0.25em;
}

.bienvenue{
      margin-top: 4rem;     
      text-align: center;
      font-size: 2rem;
}

form{
  font-size: 1.5rem;
}
input{
  font-size: 1.5rem;
}

.quiz {
  margin-top: 4rem;
}
h4 {
  font-weight: bold;
}

.question {
  margin-bottom: 2em;
}

.row a h3{
  text-decoration: none;
  font-weight: bold;
  color: #1559a2;
}

#formtop {
    margin-bottom: 3rem;
}

#newgame {
  margin-top: 2em;
}
footer {
  margin-top : 1em;
  text-align: center;

}
button[type=submit] {
  width: 100%;
  font-size: 1.5rem;
}

#result {
  font-size: 2rem;
}


